@font-face {
  font-family: 'font';
  src: url(Biko_Regular.otf);
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-track {
  background: #263349;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #000001;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'font';
  background-color: #263349;
}

.mainBody {
  background-color: #263349;
  width: 100%;
  margin: 0;
}

.a:visited , a:link {
   text-decoration: none;
}

.menu2 {
  position: sticky;
  top: 0px;
}

.menu {
  background-color: #263349;
  width: 100%;
  height: 12.5vh;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}

.imglogo {
  height: 70%;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  color: white;
  font-size: 5vh;
}

.buttons {
  width: 45%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.home, .photos, .contact, .socials {
  color: white;
  width: 20%;
  height: 50%;
  
  font-size: 4vh;
}

.home1 {
  display: inline-block;
  position: relative;
  background-color: #263349;
}

.home1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.home1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.HomeContent {
  width: 100%;
}

.Body {
  height: 100vh;
  background-color: white;
  font-size: 10vh;
}

.Footer {
  height: 10vh;
  background-color: #263349;

}
